APP_NAME=IPILVirtualLIB
APP_ENV=development
APP_URL=http://localhost:8000

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=ipilvirtuallib
DB_USER=root
DB_PASS=

JWT_SECRET=MUDAR_ESTE_SEGREDO_EM_PRODUCAO
JWT_EXPIRY=3600
JWT_REFRESH_EXPIRY=604800

UPLOAD_MAX_SIZE=20971520
ALLOWED_BOOK_TYPES=application/pdf
STORAGE_PATH=storage/uploads
